server {
    listen ${NGINX_PORT} default_server;
    location / {
        # root /var/www;
        # index index.html;
        proxy_set_header Host $host;
        proxy_pass http://pgadmin/;
        proxy_redirect off;
    }
}